.article{
    padding: 1% 2% 1% 2%;
    background: #FFFFFF;
}
.article .title{
    color: #EE9285;
}
.article .abstract{
    border: 1px gray dashed;
}
.gap-big{
    height: 10px;
    background: #EE9285;
    margin-bottom: 10px;
}
.gap-small{
    height: 3px;
    background: #EE9285;
}